header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Liter", sans-serif;
  font-size: 2rem;
  margin-top: 0.5%;
  margin-left: 5%;
  margin-right: 2%;
  color:rgb(32, 20, 4);
  font-weight: bold;
  padding: 10px;

}
