
* {
  box-sizing: border-box;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  padding-bottom: -20px;

}

.header{

  text-align: left;
  color: black;
  margin-left: 10%;
  margin-bottom: 20px;
  padding-bottom: -10px;
}

tr {
  text-align: left;

  padding: 15px;
  margin-bottom: 20px;
  padding-bottom: -20px;

}
td{
  padding-top: 20px;
  padding-bottom:12px;
  margin-bottom: 20px;
  margin-left: 100px;
}

.completed {
  border-left: 5px solid green;
  background-color: #C9FFE5;
}

h2{
  padding-bottom: -100px;
  margin: -1px;
}

.priority-low{
  background-color: green;
  display: block;
	color: white;
  border: 2px solid green;
  border-radius: 0px 0px 10px 0px;
  padding: 2px;
  padding-left: 10px;
  margin-left: -55px;
  margin-right: 200px;
  text-align: left;
  font-weight: bold;
	}
.priority-mid{
  background-color:rgb(198, 89, 0);
  display: block;
	color: white;
  border: 2px solid rgb(198, 89, 0);
  border-radius: 0px 0px 10px 0px;
  padding: 2px;
  padding-left: 10px;
  margin-left: -55px;
  margin-right: 200px;
  text-align: left;
  font-weight: bold;
	}
.priority-high{
  background-color:rgb(180, 4, 1);
  display: block;
	color: white;
  border: 2px solid rgb(180, 4, 1);
  border-radius: 0px 0px 10px 0px;
  padding: 2px;
  padding-left: 10px;
  margin-left: -55px;
  margin-right: 200px;
  text-align: left;
  font-weight: bold;
	}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #4caf50;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  outline: 2px solid #9ccc65;
}


input[type="checkbox"]:checked {
  accent-color: #4caf50;
  outline: 2px solid #4caf50;
}

.sort-selection {
  text-align: right;
  margin-right: 60px;
  margin-top: 40px;

}

.sort-selection label {
  margin-right: 165px;
  margin-bottom: -27px;
  color: gray;
}

.sort-selection select {
  width: 20%;
  padding: 5px;
  padding-left: 1.5%;
  font-size: 1.05rem;
  border-radius: 5px;
}

.form-control {
  margin: 20px 0;


}

.form-control label{
  display: block;


}

.form-control input {
  text-align: left;
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 5px;
  font-size: 17px;
  align-items: center;

}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
  text-align: left;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

::ng-deep mat-form-field {
  font-size: 18px;
}

::ng-deep input.mat-input-element {
  font-size: 18px;
  padding: 10px 12px;
  height: 45px;
}

.edit-form{
   border: 2px solid #472d30;
   padding: 30px;
   margin: 30px;
   gap:8px;
   align-items: center;
   text-align:center;
}

.edit-form .button-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btnCancel {
  background-color: #8A1713;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-left: 130px;
}



select#priority {
  width: 50%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: white;

}


